{{#if user}}
<header class="header fixed-top">
    <nav class="navbar navbar-expand navbar-main navbar-dark bg-darkblue py-0">
            <div class="container">
                <!-- Navbar Brand -->
                <a href="/" class="navbar-brand text-uppercase fw-bold">TiMa</a>
                <ul class="nav navbar-nav d-flex align-items-center">
                    <li class="nav-item dropdown">
                        <a href="#"
                            class="nav-link dropdown-toggle"
                            data-bs-toggle="dropdown"
                            data-bs-caret="false">
                            <span class="me-1 d-flex-inline">
                                <span class="fw-bold text-light">{{user.[last_name]}} {{user.[first_name]}}</span>
                            </span>
                        </a>
                        <div id="account_menu"
                                class="dropdown-menu dropdown-menu-end">
                            <div class="dropdown-item-text dropdown-item-text--lh">
                                <div class="fw-bold">{{user.[last_name]}} {{user.[first_name]}}</div>
                                <div class="text-muted">{{user.[username]}}</div>
                            </div>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item"
                                href="/profile/editaccount">Edit account</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/auth/logout">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
</header>
{{/if}}