<div class="admin-section">
    <div class="header-section">
        <div class="container">
            <nav class="navbar navbar-light navbar-expand-md p-0">
                <button class="navbar-toggler"
                        data-bs-toggle="collapse"
                        data-bs-target="#nav-section"
                        type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="nav-section">
                    <ul class="nav navbar-nav">
                        <li class="nav-item">
                            <a href="/" class="nav-link px-3">Dashboard</a>
                        </li>
                        <li class="nav-item active">
                            <a href="/users" class="nav-link px-3">Users</a>
                        </li>
                        <li class="nav-item">
                            <a href="/flights" class="nav-link px-3">Flights</a>
                        </li>
                        <li class="nav-item">
                            <a href="/seat-classes" class="nav-link px-3">Seat Classes</a>
                        </li>
                        <li class="nav-item">
                            <a href="/planes" class="nav-link px-3">Planes</a>
                        </li>
                        <li class="nav-item">
                            <a href="/airports" class="nav-link px-3">Airports</a>
                        </li>
                        <li class="nav-item">
                            <a href="/bills" class="nav-link px-3">Bills</a>
                        </li>
                        <li class="nav-item">
                            <a href="/admins" class="nav-link px-3">Admins</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="intro-section">
        <div class="container">
            <div class="d-flex align-items-center py-30 flex-wrap">
                <div class="flex-grow-1 flex-shrink-1">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 align-items-center">
                            <li class="breadcrumb-item"><a href="/"><i class="bi bi-house-door-fill icon-1"></i></a></li>
                            <li class="breadcrumb-item text-uppercase active">Users</li>
                            <li class="breadcrumb-item text-uppercase active">User Detail</li>
                        </ol>
                    </nav>
                    <h1 class="m-0 fw-bold">User Detail</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="main-section">
        <div class="container">
            <div class="card-body inf-content">
                <div class="row">
                    <div class="col-md-4">
                        <img src="/images/default.png"
                            alt=""
                            style="width:350px"
                            class="rounded-circle img-thumbnail isTooltip">
                    </div>
                    <div class="col-md-8 d-flex align-items-center">
                        <div class="table-responsive">
                        <table class="table table-user-information">
                            <tbody>
                                <tr>    
                                    <td class="h5">Last name</td>
                                    <td class="h5">{{user.last_name}}</td>
                                </tr>
                            <tr>    
                                    <td class="h5">First name</td>
                                    <td class="h5">{{user.first_name}}</td>
                                </tr>
                                <tr>    
                                    <td class="h5">Username</td>
                                    <td class="h5">{{user.username}}</td>
                                </tr>
                                <tr>    
                                    <td class="h5">Email</td>
                                    <td class="h5">{{user.email}}</td>
                                </tr>
                                <tr>    
                                    <td class="h5">Telephone</td>
                                    <td class="h5">{{user.telephone}}</td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
            </div>                                        
    </div>
</div>                                        

