<div class="admin-section">
    <div class="header-section">
        <div class="container">
            <nav class="navbar navbar-light navbar-expand-md p-0">
                <button class="navbar-toggler"
                        data-bs-toggle="collapse"
                        data-bs-target="#nav-section"
                        type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="nav-section">
                    <ul class="nav navbar-nav">
                        <li class="nav-item">
                            <a href="/" class="nav-link px-3">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a href="/users" class="nav-link px-3">Users</a>
                        </li>
                        <li class="nav-item">
                            <a href="/flights" class="nav-link px-3">Flights</a>
                        </li>
                        <li class="nav-item">
                            <a href="/seat-classes" class="nav-link px-3">Seat Classes</a>
                        </li>
                        <li class="nav-item active">
                            <a href="/planes" class="nav-link px-3">Planes</a>
                        </li>
                        <li class="nav-item">
                            <a href="/airports" class="nav-link px-3">Airports</a>
                        </li>
                        <li class="nav-item">
                            <a href="/bills" class="nav-link px-3">Bills</a>
                        </li>
                        <li class="nav-item">
                            <a href="/admins" class="nav-link px-3">Admins</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="intro-section">
        <div class="container">
            <div class="d-flex align-items-center py-30">
                <div class="flex-grow-1 flex-shrink-1">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 align-items-center">
                            <li class="breadcrumb-item">
                                <a href="/"><i class="bi bi-house-door-fill icon-1"></i></a>
                            </li>
                            <li class="breadcrumb-item text-uppercase active">
                                Planes
                            </li>
                            <li class="breadcrumb-item text-uppercase active">
                                {{title}}
                            </li>
                        </ol>
                    </nav>
                    <h1 class="m-0 fw-bold">{{title}}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="main-section">
        <div class="container">
            <div class="card">
                <div class="row g-0">
                    <div class="col-lg-4 p-4">
                        <p class="fw-bold mb-3">Plane Information</p>
                        <p class="text-muted mb-3">
                            Create plane information.
                        </p>
                    </div>
                    <div class="col-lg-8 p-4"> 
                        <form action=""  id="update-plane-form">
                            <input name="id" id="id" type="hidden" value="{{plane.id}}" class="form-control" />
                            <div class="form-group">
                                <label for="aircraftNumber">Aircraft Number (Required)</label>
                                <input name="aircraftNumber" id="aircraftNumber" type="text" class="form-control" value="{{plane.aircraft_number}}" autocomplete="off" required/>
                            </div>
                            <div class="form-group">
                                <label for="airlineName">Airline Name (Required)</label>
                                <input name="airlineName" id="airlineName" type="text" class="form-control" value="{{plane.airline_name}}"  autocomplete="off" required readonly/>
                            </div>
                            <div class="form-group">
                                <div class="text-end mb-5">
                                    <button type="submit" class="btn btn-success">Update</button>
                                </div>
                            </div>
                            <div class="row">
                                <div id="errorMessage"></div>
                                <div id="successfullyMessage"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>